@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility ;
    background: #f3f3f5;
}

.body-fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
    left: auto;
}

body, html {
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.site-header {
    position: fixed;
    padding: 30px 0;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: 0.5s;
    border-bottom: 1px solid transparent;
}

.site-header.sticky_head {
    background: rgb(255 255 255 / 80%);
    padding: 20px 0;
    border-color: #f2f2f2;
    backdrop-filter: blur(20px);
}

.main-navigation {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.main-navigation .menu li {
    display: inline-block;
    position: relative;
    margin: 0 6px;
}

.main-navigation .menu li:first-child {
    margin-left: 0;
}

.main-navigation .menu li:last-child {
    margin-right: 0;
}

.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul {
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
}

a {
    background-color: transparent;
    text-decoration: none ;
    outline: none ;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu ul a {
    width: 200px;
}

.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul {
    left: auto;
}

.main-navigation .menu li a {
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #0d0d25;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;
}

.main-navigation .menu li a:hover, .main-navigation .menu li .active-menu, .main-navigation .menu .sub-menu li .active-sub-menu {
    color: #03571a;
    background: #f3f3f5;
    box-shadow: inset 8px 8px 12px #e2e2e2, inset -8px -8px 12px #ffffff;
}

.header-right {
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
    box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
    align-items: center;
}

.cart-number {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    font-size: 12px;
    border: 1px solid #bfbfbf;
    color:#03571a;
}

.header-btn:hover {
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;
}

.header-search-form {
    position: relative;
}

.for-des {
    display: block;
}

.header-search-form button {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;
}

.header-search-form .form-input {
    font-size: 14px;
    padding-right: 40px;
    width: 200px;
    height: 40px;
}

.form-input::placeholder {
    color: rgba(70 69 71 / 0.7);
}

.form-input {
    width: 100%;
    height: 50px;
    outline: none;
    padding: 10px 15px;
    color: #250d0d;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    background: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada, inset -6px -6px 8px #ffffff;
}

* {
    -webkit-tap-highlight-color: transparent;
}

.uil {
    color:#03571a;
}



@media screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1368px;
    }
}

@media (min-width: 2100px) {
    .container {
        max-width: 1400px;
    }
    p, body, button, input {
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 1399px) {
    .header-right {
        margin-left: 20px;
    }
    .main-navigation .menu li {
        margin: 0 3px;
    }
}

@media (max-width: 1199px) {
    .header-btn {
        margin-left: 10px;
    }
    .header-right {
        margin-left: 10px;
    }
    .main-navigation .menu li {
        margin: 0;
    }
    .main-navigation .menu li a {
        padding: 4px 15px;
        font-size: 15px;
    }
    .header-search-form .form-input {
        width: 170px;
    }
}

@media (max-width: 991px) {
    .section {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .for-des {
        display: none;
    }
    .for-mob {
        display: block;
    }
    .site-header .container {
        max-width: 100%;
        padding: 0;
        height: 100%;
    }
    .site-header .container .row {
        margin: 0;
        height: 100%;
    }
    .site-header .container .row .col-lg-2 {
        width: auto;
        padding: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        z-index: 2;
        display: flex;
        align-items: center;
    }
    .menu-toggle {
        position: absolute;
        top: 50%;
        right: 30px;
        border: none;
        outline: none ;
        background: transparent;
        width: 40px;
        height: 40px;
        transform: translate(0, -50%);
        z-index: 100;
        box-shadow: inset 6px 6px 7px #dadada, -6px -6px 10px #ffffff;
        border-radius: 10px;
        padding: 0 8px;
    }
    .menu-toggle span {
        display: block;
        width: 100%;
        height: 4px;
        background:#03571a;
        margin-bottom: 5px;
        transition: 0.3s;
        border-radius: 5px;
        position: relative;
    }
    .menu-toggle span:last-child {
        margin: 0;
    }
    .toggled .menu-toggle span:nth-child(1) {
        transform: rotate(45deg);
        top: 5px;
    }
    .toggled .menu-toggle span:nth-child(2) {
        transform: rotate(-45deg);
        top: -4px;
    }
    .toggled .menu-toggle span:nth-child(3) {
        opacity: 0;
        height: 0;
    }
    .toggled .header-menu {
        transform: translateY(0);
    }
    .header-menu {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: max(9vh, 30px);
        padding-left: max(6vh, 30px);
        z-index: 99;
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        overflow-y: auto;
        transform: translateY(-100%);
        background-image: url(assets/images/blog-pattern-bg.png);
        background-position: center;
        background-color: #f3f3f5;
    }
    .main-navigation .menu li {
        display: block;
        float: none;
        margin: 0;
        margin-bottom: max(20px, 4vh);
    }
    .main-navigation .menu li a {
        display: inline-block;
        font-size: max(16px, 2vh);
    }
    .main-navigation .menu .sub-menu {
        max-width: 220px;
        opacity: 1;
        visibility: visible;
        display: none;
    }
    .main-navigation .menu .sub-menu li {
        margin-bottom: 5px;
    }
    .main-navigation .menu li:last-child {
        margin: 0;
    }
    .main-navigation .menu .sub-menu li a {
        color:#03571a;
    }
    .header-btn.header-cart {
        display: none;
    }
    .header-btn {
        margin: 0;
        margin-right: 70px;
    }
    .site-header {
        padding: 20px 0;
        box-shadow: 0px 10px 55px #d4d4d4;
    }
    .site-header.sticky_head, .site-header {
        background: rgb(255 255 255 / 90%);
    }
    body {
        height: auto ;
    }
}

@media (max-width: 575px) {
    .container, .container-fluid {
        padding: 0 30px;
    }
}

@media (max-width: 400px) {
    .container, .container-fluid {
        padding: 0 15px;
    }
    .header-btn {
        margin-right: 56px;
    }
    .menu-toggle {
        right: 15px;
    }
    .site-header .container .row .col-lg-2 {
        left: 15px;
    }
}

@media screen and (min-width: 992px) {
    #viewport {
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    #js-scroll-content {
        position: absolute;
        overflow: hidden;
        width: 100%;
        top: 0;
        left: 0;
    }
}

@media (max-width: 991px) {
    #js-scroll-content {
        transform: unset ;
    }
}

.main-banner {
    padding: 200px 0 300px;
    min-height: 100vh;
    position: relative;
}

.js-parallax-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-img-wp {
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.banner-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: biani 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(36, 39, 37, 0.3);
}

@keyframes biani {
    0% {
        border-radius: 48% 52% 57% 43% / 34% 44% 56% 66%;
    }
    25% {
        border-radius: 62% 38% 64% 36% / 34% 55% 45% 66%;
    }
    50% {
        border-radius: 43% 57% 51% 49% / 33% 42% 58% 67%;
    }
    100% {
        border-radius: 40% 60% 43% 57% / 52% 32% 68% 48%;
    }
}

.banner-img-text .h5-title {
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.banner-img-text {
    max-width: 400px;
}

.banner-shape-1 img {
    position: absolute;
    left: 85%;
    top: 60px;
    max-width: 150px;
    pointer-events: none;
    filter: blur(3px);
}

.banner-shape-2 {
    top: auto ;
    bottom: 0;
}

.banner-shape-2 img {
    position: absolute;
    bottom: 0;
    right: 82%;
    max-width: 410px;
    pointer-events: none;
    filter: blur(3px);
}

.sec-wp {
    position: relative;
    z-index: 4;
}

.h1-title {
    font-size: 90px;
    line-height: 108px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 900;
}

.h1-title span {
    color:#03571a;
    background-image: linear-gradient(0deg, rgb(13 13 37 /8%), rgb(13 13 37 /8%));
    background-size: 100% 15px;
    background-position: 0 90%;
    background-repeat: no-repeat;
    display: inline;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

h1, h2, h3, h4, h5, h6 {
    color: #0d0d25;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

p {
    font-size: 16px;
    line-height: 30px;
}

.sec-btn {
    min-width: 120px;
    min-height: 58px;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    color: #0d0d25;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
    outline: none ;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding: 6px 30px;
}

.sec-btn:hover {
    border-color: #0d0d25;
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
    color: #0d0d25;
}

.brands-row {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.brands-box {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brands-box:hover {
    filter: brightness(0.3);
    opacity: 0.9;
}

.brand-title .h5-title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.7;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.sec-sub-title {
    text-transform: uppercase;
    display: inline-block;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #e4e4e4, -9px -9px 12px #ffffff;
    padding: 3px 20px;
    border-radius: 60px;
    color: #03571a;
    font-size: 14px;
}

.h2-title {
    font-size: 46px;
    line-height: 56px;
    margin-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}

.h2-title span, .h3-title span, .h4-title span, .h5-title span, .sub-title span {
    display: block;
}

.about-video-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55vh;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    box-shadow: 0 0 20px rgb(36 39 37 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-btn {
    width: 90px;
    height: 90px;
    background: #f3f3f5;
    box-shadow: 9px 9px 12px #b2b2b3, -9px -9px 12px #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    padding-left: 4px;
    padding-top: 4px;
    font-size: 40px;
}

.play-btn:hover {
    box-shadow: inset 9px 9px 12px #cccccc, inset -9px -9px 12px #ffffff;
}

.play-btn-wp {
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn-wp span {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #bfbfbf;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #bfbfbf;
}

::-webkit-scrollbar-thumb {
    background: #03571a;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #03571a;
}

.repeat-img {
    background-size: contain;
    background-repeat: repeat;
}

.menu-tab-wp {
    margin-bottom: 80px;
}

.menu-tab ul {
    padding: 10px;
    display: inline-block;
    border-radius: 60px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 55px #d4d4d4, -28px -28px 55px #ffffff;
    position: relative;
    z-index: 2;
}

.menu-tab ul li, .menu-tab ul .filter-active {
    display: inline-flex;
    text-transform: capitalize;
    font-size: 18px;
    line-height: normal;
    cursor: pointer;
    padding: 10px 26px;
    border-radius: 30px;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
}

.filter-active {
    position: absolute;
    left: 0;
    top: 12px;
    min-height: 50px;
    z-index: -1;
}

.menu-tab ul li img {
    margin-right: 10px;
    position: relative;
    top: 1px;
}

.menu-tab ul .filter-active {
    color: #ffffff;
    background: linear-gradient(145deg, #03571a, #0a852a);
}

.menu-list-row .bydefault_show .dish-box-wp {
    display: inline-block ;
}

.dish-box-wp {
    display: none;
}

.dish-box {
    border-radius: 30px;
    background: linear-gradient(145deg, #ececec, #ffffff);
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    display: flow-root;
    padding: 0 30px 40px;
    padding-top: 0;
    margin: 130px 0 30px;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

.dish-box:hover {
    transform: scale(1.03);
}

.dist-img {
    margin-top: -130px;
    margin-bottom: 30px;
}

.dist-img img {
    box-shadow: 28px 28px 45px #d4d4d4, -28px -28px 45px #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.dish-rating {
    font-size: 20px;
    margin-bottom: 15px;
}

.dish-title {
    padding: 0 30px;
}

.dish-title .h3-title {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #0d0d25;
    transition: 0.3s;
    min-height: 76px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 900;
}

.dish-title p {
    color: #bfbfbf;
}

.dish-info ul, .dist-bottom-row ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.dish-info ul li {
    display: inline-block;
    flex: 1;
}

.dish-info ul li:last-child {
    text-align: right;
    border-left: 2px solid rgb(204 204 204 / 30%);
}

.dist-bottom-row ul li:last-child {
    text-align: right;
}

.dish-info ul li p {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 2px;
    font-weight: 300;
}

.dish-info ul li b {
    font-weight: 600;
}

.dish-info, .dist-bottom-row {
    padding: 0 30px;
}

.dish-info {
    border-bottom: 2px solid rgb(204 204 204 / 30%);
    margin: 30px 0 30px;
    padding-bottom: 30px;
}

.dist-bottom-row ul li {
    display: flex;
    align-items: center;
}

.dist-bottom-row ul li b {
    font-size: 30px;
}

.dish-add-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.3s;
    background: linear-gradient(145deg, #0a852a, #03571a);
    box-shadow: inset 4px 4px 8px #03571a, inset -4px -4px 8px #0a852a;
}

.dish-add-btn i {
    color: #ffffff;
    font-size: 22px;
}

.dish-add-btn:hover {
    background: linear-gradient(145deg, #03571a, #0a852a);
}

